<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>test1class</servlet-name>
  	<display-name>test1class</display-name>
  	<description></description>
  	<servlet-class>test1.test1class</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>test1.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>test1.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>allitems</servlet-name>
  	<display-name>allitems</display-name>
  	<description></description>
  	<servlet-class>item.allitems</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteitem</servlet-name>
  	<display-name>deleteitem</display-name>
  	<description></description>
  	<servlet-class>item.deleteitem</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test1class</servlet-name>
  	<url-pattern>/test1class</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>allitems</servlet-name>
  	<url-pattern>/allitems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteitem</servlet-name>
  	<url-pattern>/deleteitem</url-pattern>
  </servlet-mapping>
</web-app>
